body{
	font-family: 'Helvetica';
}

h4 {
	margin-top: 0px;
	margin-top: 0px;
}

nav {
	width: 100%;
	position: absolute;
	top: 0px;
	margin: auto;
	background-color: #fff;
	z-index: 1;
}

.symbol {
	background-color: #FF00F0;
	color: #fff;
	border-radius: 40px;
	padding: 6px 10px;
	font-weight: 900;
}

.navsuperior {
	width: 100%;
	position: fixed;
}

.logo {
	float: left;	
	font-size: 30px;
	margin: 10px 20px;
}

.fa-pinterest {
	color:#bd081c;
}

.fa-search {
	color: #000;
}

.buscador {
	background-color: #eee;
	height: 40px;
	width: 70%;
	min-width: 200px;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	padding-left: 40px;
	line-height: 40px;
	margin:8px;
}

.leftbar {
	position: absolute;
	color: #777777;
}

input {
	background-color: transparent;
	border: none;
	outline: 0;
	font-size: 16px;
}

.rightbar {
	position: absolute;
	right: 40px;
	font-weight: 900;
}

.navder {
	position: absolute;
	right: 10px;
	top: 0px;
}

.navder .fa {
	color: #777;
	font-size: 22px;
}

hr {
	clear: left;
	position: relative;
	top: 50px;
}

.navbase {
	background-color: #fff;
	position: absolute;
	height: 140px;
	width: 100%;
}

.navinf {
	margin:auto;
	font-size: 14px;
	position: relative;
	top: 50px;
	width: 100%;
	text-align: center;
	font-weight: 900;
	background-color: #fff;
}

.botons {
	color: #fff;
	border-radius: 8px;
	display: inline-block;
}

.b1 {
	background-image: url(../img/3_1.jpg);
	background-size: cover;
}

.b2 {
	background-image: url(../img/3_2.jpg);
}

.b3 {
	background-image: url(../img/3_3.jpg);
}

.b4 {
	background-image: url(../img/3_4.jpg);
}

.b1 p, .b2 p, .b3 p, .b4 p{
	line-height: 60px;
	border-radius: 8px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.b1, .b2, .b3, .b4{
	border-radius: 8px;
	margin-right: 10px;
}

.b1 p{
	background-color: rgba(116, 96, 80, 0.6);
}

.b2 p{
	background-color: rgba(171, 139, 111, 0.6);
}
.b3 p{
	background-color: rgba(138, 119, 99, 0.6);
}
.b4 p{
	background-color: rgba(153, 148, 76, 0.6);
}

.contentimages {
	margin-top: 140px;
	clear: left;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	text-align: center;
}

.images{
	width:100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px; 
}

[class*="col-"] p {
	margin-top: -5px;
}

img:hover {
	opacity: 0.7;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

[class*="col-"] {
    padding: 10px;
    float: left;
    text-align: left;
}

.col-1{width: 250px;}
.col-2{width: 250px;}
.col-3{width: 250px;}
.col-4{width: 250px;}

.totop {
 	display: inline-block;

 }